@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

@view-transition {
    navigation: auto;
}

html, body {
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #808080;
}